<!DOCTYPE html>
<html>
<head>
	<title>teste</title>
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">    
	
</head>
<body>
<label for="">tete</label>
<input type="text" id="datepicker">


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"/>    
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"/>    
<script src="http://multidatespickr.sourceforge.net/jquery-ui.multidatespicker.js"/>

<!-- mdp demo code -->
		<script type="text/javascript">
		<!--
		
			
			$(function() {					
				// Run Demos
				$('#datepicker').multiDatesPicker();
				
			});
		// -->
		</script>


</body>
</html>



   
